@tailwind base;
@tailwind components;
@tailwind utilities;

.mainContainer {
  @apply container mx-auto m-2 w-3/4 px-20 py-16 block rounded-3xl bg-white;
}

.profileContainer {
  @apply flex h-auto items-center;
}

.container1 {
  @apply w-1/4 h-auto rounded-3xl object-cover inline-block text-right;
}

.container2 {
  @apply w-3/4 h-auto inline-block py-6 px-10 ml-10 bg-[#e3e8d8] rounded-3xl font-quicksand text-xl;
}

.container3 {
  @apply mt-10 flex justify-around;
}

.container4 {
  @apply justify-center;
}

.icons {
  @apply w-10 mt-4 h-auto object-cover inline-block ml-5 opacity-75 hover:opacity-100 transition duration-500 ease-in-out hover:scale-125;
}

.big {
  @apply font-cotton text-7xl text-[#404040];
}

.small {
  @apply font-quicksand text-xl text-[#404040];
}

.label {
  @apply font-bold block text-center text-xl;
  margin: 0 0 2vh 0;
}

.input {
  @apply block w-full px-2 py-3 rounded-md text-xl;
  margin: 0.9vw 0;
}

.textarea {
  @apply block w-full px-2 py-3 rounded-md text-xl;
  height: 15vh;
}

.container5 {
  @apply flex items-center justify-center mt-4 font-quicksand;
}

.submitBtn {
  @apply flex font-bold w-24 bg-white opacity-50 hover:opacity-100 px-4 py-2 rounded-3xl;
}

.buttons {
  @apply flex justify-center mt-6;
}
